Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
 
# TypeScript
*.tsbuildinfo
 
# Vite
vite.config.ts.timestamp-*
 
# Cache
.eslintcache
.stylelintcache
.cache/
.parcel-cache/
 
# Testing
coverage/
.nyc_output/
 
# Misc
*.local